In [40]:
import pandas as pd
from preprocessing import process

In [9]:
%cd CoNLL-2003

D:\Projects\Machine Learning\Natural Lannguage Processing\ner-dl\data\CoNLL-2003

In [10]:
%ls

 Volume in drive D is New Volume
 Volume Serial Number is 4840-F457

 Directory of D:\Projects\Machine Learning\Natural Lannguage Processing\ner-dl\data\CoNLL-2003

06/28/2017  08:35 AM    <DIR>          .
06/28/2017  08:35 AM    <DIR>          ..
06/28/2017  08:35 AM           826,992 eng.testa
06/28/2017  08:35 AM           832,337 eng.testa.openNLP
06/28/2017  08:35 AM           748,074 eng.testb
06/28/2017  08:35 AM           753,276 eng.testb.openNLP
06/28/2017  08:35 AM         3,281,508 eng.train
06/28/2017  08:35 AM         3,303,660 eng.train.openNLP
               6 File(s)      9,745,847 bytes
               2 Dir(s)  309,394,382,848 bytes free

In [4]:
df=pd.read_csv('data/CoNLL-2003/eng.testa',header=None,delimiter=' ')
df.columns=['word','POS','chunk tag','named entity']

In [5]:
df

                 word  POS chunk tag named entity
0             CRICKET  NNP      I-NP            O
1                   -    :         O            O
2      LEICESTERSHIRE  NNP      I-NP        I-ORG
3                TAKE  NNP      I-NP            O
4                OVER   IN      I-PP            O
5                  AT  NNP      I-NP            O
6                 TOP  NNP      I-NP            O
7               AFTER  NNP      I-NP            O
8             INNINGS  NNP      I-NP            O
9             VICTORY   NN      I-NP            O
10                  .    .         O            O
11             LONDON  NNP      I-NP        I-LOC
12         1996-08-30   CD      I-NP            O
13               West  NNP      I-NP       I-MISC
14             Indian  NNP      I-NP       I-MISC
15        all-rounder   NN      I-NP            O
16               Phil  NNP      I-NP        I-PER
17            Simmons  NNP      I-NP        I-PER
18               took  VBD      I-VP            O
19               four   CD      I-NP            O
20                for   IN      I-PP            O
21                 38   CD      I-NP            O
22                 on   IN      I-PP            O
23             Friday  NNP      I-NP            O
24                 as   IN      I-PP            O
25     Leicestershire  NNP      I-NP        I-ORG
26               beat  VBD      I-VP            O
27           Somerset  NNP      I-NP        I-ORG
28                 by   IN      I-PP            O
29                 an   DT      I-NP            O
...               ...  ...       ...          ...
49598               .    .         O            O
49599             The   DT      I-NP            O
49600             DSE   NN      I-NP        I-ORG
49601             all   DT      B-NP            O
49602           share   NN      I-NP            O
49603           price   NN      I-NP            O
49604           index   NN      I-NP            O
49605          closed  VBD      I-VP            O
49606            2.73   CD      I-NP            O
49607          points  NNS      I-NP            O
49608              or   CC         O            O
49609            0.22   CD      I-NP            O
49610         percent   NN      I-NP            O
49611              up   IN      I-PP            O
49612              at   IN      B-PP            O
49613               1  NaN       NaN          NaN
49614              on   IN      I-PP            O
49615               a   DT      I-NP            O
49616        turnover   NN      I-NP            O
49617              of   IN      I-PP            O
49618           133.7   CD      I-NP            O
49619         million   CD      I-NP            O
49620            taka   NN      I-NP            O
49621              on   IN      I-PP            O
49622        Thursday  NNP      I-NP            O
49623               .    .         O            O
49624              --    :         O            O
49625           Dhaka  NNP      I-NP        I-ORG
49626        Newsroom  NNP      I-NP        I-ORG
49627    880-2-506363   CD      I-NP            O

[49628 rows x 4 columns]

In [41]:
a=process('data/CoNLL-2003/eng.testa')

In [42]:
process('data/CoNLL-2003/eng.testa').get_data('data/CoNLL-2003/eng.testa')

PermissionError: [Errno 13] Permission denied: 'data'

In [17]:
a.tags

()

In [23]:
df.isna().sum()

word            643
POS             999
chunk tag       359
named entity    359
dtype: int64

In [1]:
import spacy
from tensorflow.keras.preprocessing.sequence import pad_sequences


nlp = spacy.load('en_core_web_sm')